@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/pics/disney-plus-1280-x-800-background-n41mbrw9vi6ivrqj.jpg') center/cover no-repeat;
    overflow: hidden;
}

.gradient-overlay {
    position: absolute;
    background: rgb(6, 20, 53);
    background: linear-gradient(230deg, rgba(6, 20, 53, 0) 0%, rgba(6, 20, 53, 0) 40%, rgba(6, 20, 53, 1) 100%);
}